:host {
  flex: 1;
}

form {
  height: 100%;
  display: flex;
}

.form-contant {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #cccccc;
  height: 144px;

  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  box-shadow: 0 0px 3px #b3b3b3;
  margin-top: 15px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.allThread {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-bottom: 2px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 10px white;
  margin-top: 10px;
  justify-content: space-between;
}

.text {
  font-family: monospace;
  font-size: larger;
  text-align: center;
  width: 100px;

  border-radius: 10px;
}

.send-btn {
  border-radius: 50%;
  display: flex;
  width: 37px;
  background-color: #45043c;
  text-align: center;
  align-items: center;
  color: white;
  box-shadow: 0 0px 7px black;
  height: 37px;
  cursor: pointer;
  margin-top: 100px;
  margin-right: 7px;
 border: none;
  cursor: pointer;
}

.text-input {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
}
