<h1>Thread</h1>
<div class="allThread">
  <div class="chat">
    <span class="text">{{ thread.author.displayName }}</span>
    <p>{{ this.thread.message }}</p>
  </div>

  <div *ngFor="let thread of threads">
    <div style="margin-top: 10px" class="chat">
      <span *ngIf="authService.currentUser$ | async as user" class="text">{{
        thread.author.displayName
      }}</span>
      <p>{{ thread.message }}</p>
    </div>
  </div>
</div>
<div class="form-contant">
  <form #messageForm="ngForm">
    <textarea
      class="text-input"
      type="text"
      #myArea
      name="message"
      placeholder="{{ this.thread_placeholder }}"
      required
      contenteditable="true"
      spellcheck="true"
      contenteditable="true"
    ></textarea>

    <button
      class="send-btn"
      type="submit"
      (click)="sendMessage(myArea.value)"
      [class.disabled]="messageForm.invalid"
     
      [disabled]="messageForm.invalid"
    >
      <span class="material-icons"> send </span>
    </button>
  </form>
</div>
