<!-- <h1>Threads</h1>
<div class="chat"  *ngFor="let thread of threads">
    <span class="text">{{ thread.author }}</span>
    <p>{{thread.message }}</p>

    <div class="form-contant">
        <form #messageForm="ngForm">
          <textarea
          class="text-input"
          type="text"
          [(ngModel)]="thread.message"
          name="message"
          placeholder="Enter your Message"
          required
          contenteditable="true"
          spellcheck="true"
        ></textarea>

          <button
            class="send-btn"
            type="submit"
            (click)="sendMessage()"
            [class.disabled]="messageForm.invalid"
            [disabled]="messageForm.invalid"
          >
            Send
          </button>
        </form>
      </div>

</div>
 -->

<!-- <h2>{{this.thread_array | json}}</h2> -->
<!-- <h3>{{this.thread.author}}</h3>
<h3>{{this.thread.message}}</h3> -->


<h1>Threads</h1>
<div class="chat">
<span class="text">{{this.thread.author}}</span>
<p>{{this.thread.message}}</p>


<div class="form-contant">
  <form #messageForm="ngForm">
    <textarea
    class="text-input"
    type="text"
    #myArea

    name="message"

    placeholder="{{this.thread_placeholder}}"
    required
    contenteditable="true"
    spellcheck="true"
  ></textarea>

    <button
      class="send-btn"
      type="submit"
      (click)="sendMessage(myArea.value)"
      [class.disabled]="messageForm.invalid"
      [disabled]="messageForm.invalid">
      Send
    </button>
  </form>
</div>


<!-- Response -->
<div *ngFor="let thread of threads">
<div  style="margin-top: 80px;"   class="chat"  >
  <span *ngIf="authService.currentUser$ | async as user" class="text">{{ thread.author }}</span>
  <p>{{thread.message}}</p>
</div>

  <!-- <div class="form-contant"> -->
    <!-- <form #messageForm="ngForm">
      <textarea
      class="text-input"
      type="text"

      name="message"
      placeholder="{{this.thread_placeholder}}"
      required
      contenteditable="true"
      spellcheck="true"
    ></textarea>

      <button
        class="send-btn"
        type="submit"
        (click)="sendMessage()"
        [class.disabled]="messageForm.invalid"
        [disabled]="messageForm.invalid"
      >
        Send
      </button>
    </form> -->
  <!-- </div> -->


</div>

