<div class="direkt-container">
  <div class="direkt-titel">

    <div>
      <button *ngIf="showDirektChat" class="arrow-button" (click)="showDirektchat()" >
        <span class="material-icons">
          arrow_drop_down
          </span>
      </button>
      
      <button *ngIf="showButton" class="arrow-button"  (click)="HideChats()">
        <span   class="material-icons">
          arrow_right
          </span>
        </button>
        
      </div>
<h1>Direkt Messages</h1>

<button class="button"   (click)="addDirektchat()" >
  <mat-icon >add</mat-icon>
</button>
</div>

<div *ngIf="showDirektChat">
<ng-container >

 

</ng-container>

</div>
</div>