:host {
  flex: 1;
}

.landing-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  height: 93vh;
}

.profile-app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing-welcom {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.channels-container {
  background-color: #45043c;
  margin-top: 0px;
  flex: 1;
  position: fixed;
  height: 100%;
}

.container {
  display: flex;
  height: calc(100vh - 70px);

  > .chat-list {
    width: 40%;
    margin: 16px;
    background: #c5cae9;
    border-radius: 16px;

    .chat-title {
      display: flex;
      justify-content: space-between;

      .chat-name {
        font-weight: 500;
      }

      .chat-date {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    .search-input {
      margin: 24px;
    }
  }

  > .messages {
    width: 60%;
    padding: 24px;
    margin: 16px;
    margin-left: 8px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.05);

    .messages-header {
      display: flex;
      margin-bottom: 8px;

      > img {
        border-radius: 50%;
        object-fit: cover;
        margin-right: 16px;
        height: 35px;
      }

      > h2 {
        margin: 0;
      }
    }

    .chat-area {
      height: calc(100vh - 270px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      overflow: auto;

      > :first-child {
        margin-top: auto;
      }

      .chat-bubble-container {
        display: flex;
        width: 100%;
        justify-content: flex-start;

        > .chat-bubble {
          background: white;
          padding-top: 8px;
          padding-bottom: 18px;
          padding-left: 8px;
          padding-right: 100px;
          margin-bottom: 16px;
          border-radius: 8px;
          width: fit-content;

          position: relative;

          > .chat-time {
            position: absolute;
            bottom: 2px;
            right: 8px;
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }

      .chat-bubble-container.sender {
        justify-content: flex-end;

        > .chat-bubble {
          background: #c5cae9;
        }
      }
    }

    .input-area {
      padding-top: 16px;
      padding-bottom: 8px;
    }
  }
}

mat-form-field {
  width: 100%;
}


.image {
  perspective: 3000px;
  width: 50%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column ;
  margin-left: 60px;
}

.logos{
  width: 290px !important;
  height: 200px !important;
}

.logos:hover  {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  margin-bottom: 40px;
  width: 200px !important;
  height: 200px !important;

}

.image img {
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
  transition: all .4s;
  transform-style: preserve-3d;
  width: 590px;
  height: 350px;
 
}
.image:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  margin-bottom: 40px;
  width: 600px ;
  height: 300px;

}

.two-images{
  display: flex;
  justify-content: center;
  align-items: center;
}
