form{
   
    display: flex;
  
}

.edit-contain{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;

}
.content-chats{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);

  

}

.edit-button{
    width: 120px;
    height: 30px;
    background-color:rgb(4, 54, 255);
    font-family: monospace;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0%;
}

.edit-button2{
    width: 80px;
    height: 30px;
    background-color: #2578f4;
    font-family: monospace;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0%;
    text-align: center;
}



.btn-content{
    display: flex;
    justify-content: space-between;
   
}
  
.chats-container{
    color: black;
    display: flex;
    flex-direction: column;
    width: 775px;
    background-color: white;
    height: 100vh;   
    background-color: rgb(147, 147, 144);
   
}

.text{
    font-family: monospace;
    font-size: larger;
    text-align: center;
    width: 100px;
    background: rgb(147, 147, 144);
    border-radius: 10px;

  
}

.text-input{
border: unset;
border: none;
width: 100%;
background-color: #e4e4e4;
height: 100%;

}

.send-btn{
    background-color: #2578f4;
    color: white;
    border-radius: 12px;
    margin-top: 39px;

    height: 40px;
    font-size: larger;
    text-align: center;
}


.form-contant{
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background-color: #e4e4e4;
    box-shadow: 0 1px 10px white;
    margin-top: 15px;
    height: 100px;
    justify-content: space-between;
}


.input-message{
    height: 50px;
    border-radius: 10px;
    border: unset;
    background-color: #ffffff;
    width: 85%;
    margin-bottom: 0px;
}

.chat{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background-color: #e4e4e4;
    box-shadow: 0 1px 10px white;
    margin-top: 15px;
    height: 200px;
    justify-content: space-between;

}

input{
    margin: 16px;
}

button{
    width: 50px;
}

.thread-Container{
    width: 33%;
}

.link-content{
    display: flex;
    flex-direction: column;
}