<div class="content-chats">
  <div class="link-content">
    <app-channels></app-channels>

    <app-direkt-chat ></app-direkt-chat>
  </div>
  <div class="chats-container">
    <!--
      input wert in der variable message
    -->
    <!-- <h2>HELOOOO CHATS</h2> -->

    <div class="channel-container" *ngFor="let chat of chats">
      <div class="chat">
        <span class="text">{{ chat.author }}</span>
        <p>{{ chat.message }}</p>

        <div class="btn-content">
          <button
            class="edit-button"
            mat-raised-button
            (click)="showEditContainer(chat)"
          >
            EditChat
          </button>

          <button
            class="edit-button"
            mat-raised-button
            (click)="showThread(chat)"
          >
            <a> Antworten </a>
          </button>

          <div>
            <input
              type="file"
              (change)="upload($event)"
              accept="*.png.jpg"
              id=""
            />
            <button mat-raised-button (click)="uploadImage()">
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
          </div>
          <!-- (click)="showThread()" [routerLink]="['/threads']"-->

          <button
            class="btn btn-primary"
            mat-raised-button
            mat-icon-button
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            placement="left"
            (confirm)="removeChat(chat)"
            (cancel)="cancelClicked = true"
          >
            Delete
          </button>
        </div>
        <div class="edit-contain" *ngIf="chat.showAddContainer">
          <input
            matInput
            class="input-message"
            type="text"
            [(ngModel)]="editMessage"
          />
          <button
            class="edit-button2"
            mat-raised-button
            (click)="editChat(chat)"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="form-contant">
      <form #messageForm="ngForm">
        <textarea
          class="text-input"
          type="text"
          [(ngModel)]="chat.message"
          name="message"
          placeholder="Enter your Message"
          required
          contenteditable="true"
          spellcheck="true"
        ></textarea>

        <button
          class="send-btn"
          type="submit"
          (click)="sendMessage()"
          [class.disabled]="messageForm.invalid"
          [disabled]="messageForm.invalid"
        >
          Send
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="isShowingThread" class="thread-Container">
    <!-- <app-threads [thread]="threadService.currentThread"></app-threads> -->
    <!-- {{temp}} -->
    <app-threads [thread]="currentThread"></app-threads>

  </div>
</div>
