.profile-container {

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background-color: #d8d4d4;
  position: fixed;
}

.back-container {
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #def0ff;
  border-radius: 10px;
  width: 225px;
  height: 73px;
  display: flex;
  justify-content: space-evenly;

  span {
    font-family: 'Circular-Loom';
    margin-left: 15px;
    font-size: x-large;
  }

  button {
    color: black;
    background-color: #d8d4d4;
    cursor: pointer;
    width: 33px;
    border-radius: 10px;
    border: none;
    &:hover {
      transform: translate(0rem, -0.1rem);
    }
  }
}

.profile-image {
  position: relative;
  width: 162px;
  margin: auto;
}

.profile-image > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.form-container {
  max-width: 600px;
  width: 600px;
  background-color: #def0ff;
  border-radius: 10px;
  margin-bottom: 60px;
}

.row {
  display: flex !important;
  gap: 19px;
}

.save-button{
  background-color: #d8d4d4;
  margin-left: 20px;
  color: black;
}

.edit-button{
  background-color: #d8d4d4;
}




