/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: monospace;
  background-color: rgb(30, 128, 193) ; 
 
}


   


.full-Width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
}

.text-center {
  text-align: center;
}

.content {
  display: flex;
  width: 100%;
}

.popover{
  
  position: absolute!important;
  top: 0px!important;
  left: 0px!important;
  will-change: transform!important;
 

 
}

.mat-typography h3 {
  margin: 0px !important;
}
.popover-body{
  padding: 5px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family:Roboto, "Helvetica Neue", sans-serif; }
